.top__menu__bar {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 100%;
    height: 3em;
    /* height: 48px; */
    left: 0px;
    top: 0px;

    background: #FFFFFF;

    box-shadow: inset 0px -1px 0px #E0E0E0;
}

.logo__asm {
    margin: 1em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #01963A;
}

.top__menu__item {
    text-decoration: none;
    padding: 1em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.25px;

    color: #0E1412;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.right__bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.angle__down {
    margin-right: 1em;
    padding: 0.5em;
    color: black;
    text-decoration: none;
    flex: none;
}

.buttons__right__bar {
    margin-right: 1em;
    padding: 0.5em;
    color: black;
    text-decoration: none;
    flex: none;
}

.avatar__circle {

    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url('../assets/img/avatar.jpg');
    background-size: contain;
}

.spaces {
    padding-top: 1em;
    padding-left: 28px;
    padding-right: 28px;
}

.pagination {
    display: flex;
    width: 50%;
    height: 1em;
}

.hooks__pag {
    /* margin-top: 3.5em; */
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.25px;
    font-weight: 400;

    color: #0E1412;
}

.angle__right {
    margin-top: 0.55em;
    margin-left: 1em;
    margin-right: 1em;
}

.top {
    display: block;
    width: 100%;
    margin-top: 3.5em;
}

.hooks__pag__custom {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.25px;
    font-weight: 400;

    color: #01963A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

h2 {
    font-family: 'Roboto';
    margin: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.title__page {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 27px;
    display: flex;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.container {
    /* border: #000000 1px solid; */
    display: flex;
    flex-flow: row nowrap;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    width: 100%;
}

.list__tech__container {
    margin-top: 27px;
    margin-left: 2em;
}

.card__container {
    background: #fff2e1;
    /* flex-grow: 5; */

    /* margin-left: 31px; */
    margin-left: 2em;
    /* align-items: flex-start; */
    height: 288px;

    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.right__container {
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}

.card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    padding-left: 5%;
    /* padding-left: 20px; */
    padding-top: 20px;
    letter-spacing: 0.25px;
    color: #0E1412;
    margin: 0;
}

.card__button__a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #D32F2F;
}

.card__subs__p {
    padding-left: 11px;
    display: inline;
}

.card__subs {
    width: 90%;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* padding-left: 20px; */
    margin-left: 5%;
    padding-top: 6px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #0E1412;
}

.card__status__container {
    /* padding-left: 20px; */
    margin-left: 5%;
    padding-top: 6px;
    width: 90%;
}

.vsc__error {
    text-decoration: none;
    color: #D32F2F;
}

.card__button__chat {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 6px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    margin-left: 5%;
    width: 90%;
    height: 32px;


    background-color: #01963A;
    color: white;
    border-radius: 100px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card__button__a__chat {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25px;
    color: white;
}

.card__button__a__deal {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25px;
    color: white;
}

.card__button__deal {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 6px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    margin-left: 5%;
    width: 90%;
    height: 32px;


    background-color: #01963A;
    color: white;
    border-radius: 100px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.chat {
    text-decoration: none;
    color: white;
}

.deal {
    text-decoration: none;
    color: white;
}

.card__button__a__fav {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #01963A;
}

.heart {
    text-decoration: none;
    color: #01963A;
}

.card__button__fav {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 6px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    margin-left: 5%;
    /* width: 372px; */
    width: 90%;
    height: 32px;

    /* Error/Main */

    border: 1px solid #01963A;
    border-radius: 100px;



    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card__button__report {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 6px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    margin-left: 5%;
    /* width: 372px; */
    width: 90%;
    height: 32px;

    /* Error/Main */

    border: 1px solid #D32F2F;
    border-radius: 100px;



    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card__status {
    margin-left: 16px;
    align-items: center;
    padding: 4px 8px;
    gap: 6px;
    display: inline;
    flex-direction: row;
    justify-content: center;
    width: 75px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* Support / Success */

    background: #43A047;
    border-radius: 24px;
    color: white;
    /* Inside auto layout */
    font-family: 'Roboto';
    font-style: normal;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card__status_p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: inline;
    letter-spacing: 0.25px;

    /* Text/Primary */

    color: #0E1412;
}

.order__container__pic {
    flex-grow: 2.5;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding: 20px;
    /* width: 954px; */
    /* width: 65%; */
    /* height: 510px; */
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    align-self: stretch;
}

.left__right {
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 100%;
}

.angle__left__page {
    display: flex;
    justify-content: flex-start;
}

.angle__right__page {
    display: flex;
    justify-content: flex-end;
}

.picture {
    /* position: relative;
    margin: 0 auto;
    top: 10%;
    width: 100%; */
    position: absolute;
    width: 560px;
    height: 360px;
    background-image: url('../assets/img/test.png');
    background-size: contain;
}

.custom__tech {
    margin-bottom: 8px;
    box-sizing: border-box;
    flex-flow: row nowrap;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 16px;

    height: 116px;


    background: #FFFFFF;

    border: 1px solid #E4E4E4;
    border-radius: 8px;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.left__custom__tech {
    flex-grow: 2;
}

.right__custom__tech {
    flex-grow: 50;
}

.custom__photo__tech {
    width: 96px;
    height: 96px;
    border-radius: 8px;
    background-image: url('../assets/img/test.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.custom__tech__about {
    width: 100%;
    display: flex;
    margin: 0;
    /* height: 94px; */
}

.otstup {
    margin-right: 8px;
    /* margin-top: 8px; */
    margin-bottom: 8px;

}

.v__otstup {

    margin-bottom: 8px;
}


.card__status__tech {

    align-items: center;
    padding: 4px 8px;
    gap: 6px;
    display: inline;
    flex-direction: row;
    justify-content: center;
    width: 75px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* Support / Success */

    background: #43A047;
    border-radius: 24px;
    color: white;
    /* Inside auto layout */
    font-family: 'Roboto';
    font-style: normal;
    flex: none;
    order: 1;
    flex-grow: 0;
}