.main__padding {
    padding-top: 1em;
    padding-left: 28px;
    padding-right: 28px;
}



.main__otstup {
    display: block;
    width: 100%;
    margin-top: 3.5em;
}



h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

h2 {
    font-family: 'Roboto';
    margin: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.main__padding__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 27px;
    display: flex;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.main__padding__row__columnLeft {
    margin-top: 16px;
    /* display: flex; */
    flex-direction: row;
    flex: 3;

    /* width: 954px; */
    /* width: 65%; */
    /* height: 510px; */
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    align-self: stretch;
}

.main__padding__row {
    /* border: #000000 1px solid; */
    display: flex;
    flex-flow: colunm;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.list__tech__container {
    margin-top: 27px;
    margin-left: 2em;
}

.card__container {
    background: #fff2e1;
    /* flex-grow: 5; */

    /* margin-left: 31px; */
    margin-left: 2em;
    /* align-items: flex-start; */
    height: 288px;

    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.right__container {
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}

.card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    padding-left: 5%;
    /* padding-left: 20px; */
    padding-top: 20px;
    letter-spacing: 0.25px;
    color: #0E1412;
    margin: 0;
}

.card__button__a {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #D32F2F;
}

.card__subs__p {
    padding-left: 11px;
    display: inline;
}

.card__subs {
    width: 90%;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* padding-left: 20px; */
    margin-left: 5%;
    padding-top: 6px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #0E1412;
}

.card__status__container {
    /* padding-left: 20px; */
    margin-left: 5%;
    padding-top: 6px;
    width: 90%;
}

.vsc__error {
    text-decoration: none;
    color: #D32F2F;
}

.card__button__chat {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 6px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    margin-left: 5%;
    width: 90%;
    height: 32px;

    background-color: #01963A;
    color: white;
    border-radius: 100px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card__button__a__chat {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25px;
    color: white;
}

.card__button__a__deal {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25px;
    color: white;
}

.card__button__deal {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 6px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    margin-left: 5%;
    width: 90%;
    height: 32px;


    background-color: #01963A;
    color: white;
    border-radius: 100px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.chat {
    text-decoration: none;
    color: white;
}

.deal {
    text-decoration: none;
    color: white;
}

.card__button__a__fav {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #01963A;
}

.heart {
    text-decoration: none;
    color: #01963A;
}

.card__button__fav {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 6px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    margin-left: 5%;
    /* width: 372px; */
    width: 90%;
    height: 32px;

    /* Error/Main */

    border: 1px solid #01963A;
    border-radius: 100px;



    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card__button__report {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: 6px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 8px;
    margin-left: 5%;
    /* width: 372px; */
    width: 90%;
    height: 32px;

    /* Error/Main */

    border: 1px solid #D32F2F;
    border-radius: 100px;



    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.card__status {
    margin-left: 16px;
    align-items: center;
    padding: 4px 8px;
    gap: 6px;
    display: inline;
    flex-direction: row;
    justify-content: center;
    width: 75px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* Support / Success */

    background: #43A047;
    border-radius: 24px;
    color: white;
    /* Inside auto layout */
    font-family: 'Roboto';
    font-style: normal;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card__status_p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: inline;
    letter-spacing: 0.25px;

    /* Text/Primary */

    color: #0E1412;
}

.order__container__pic {
    flex-grow: 2.5;
    /* margin-top: 16px; */
    /* display: flex; */
    display: flex;
    flex-direction: column;
    flex: 3;
    /* flex-basis: 10%; */
    /* flex-direction: column; */
    box-sizing: border-box;

    padding: 20px;
    /* width: 954px; */
    /* width: 65%; */
    /* height: 510px; */
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    align-self: stretch;
}

.left__right {
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 100%;
}

.angle__left__page {
    display: flex;
    justify-content: flex-start;
}

.angle__right__page {
    display: flex;
    justify-content: flex-end;
}

.picture {
    /* position: relative;
    margin: 0 auto;
    top: 10%;
    width: 100%; */
    position: absolute;
    width: 560px;
    height: 360px;
    background-image: url('../assets/img/test.png');
    background-size: contain;
}

.info__card {
    margin-top: 16px;
    background: #fff2e1;
    flex-grow: 2.5;
    display: flex;
    height: 665px;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.title__page__card {
    margin-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    /* text-align: center; */
    margin-top: 27px;
    /* display: flex; */
    color: #000000;
    height: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.first__type__card {
    margin: 20px;
    flex-grow: 0;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.double__columns__card {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
}

.first__about {
    width: 50%;
    padding: 0px 0px 24px 24px;
}

.second__about {
    width: 50%;
    padding: 0px 0px 24px 24px;

}

.title__card__p {
    padding: 24px 0px 8px 24px;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    letter-spacing: 0.25px;
    color: #0E1412;
}

.about__card {
    /* padding-bottom: 16px; */
    padding-left: 24px;
    /* padding: 0px 0px 8px 24px; */

    font-size: 14px;
    /* font-weight: 600; */
    line-height: 18px;
    margin: 0;
    letter-spacing: 0.25px;
    color: #0E1412;
}

.card__button__chat__about {
    margin-left: 20px;

    text-decoration: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 16px;
    gap: 8px;
    width: 15%;
    height: 32px;

    background-color: #01963A;
    color: white;
    border-radius: 100px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.info__card__calendar {
    margin-top: 16px;
    background: #fff2e1;
    flex-grow: 2.5;
    display: flex;
    height: 200px;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.info__card__doc {
    margin-top: 16px;
    background: #fff2e1;
    flex-grow: 2.5;
    display: flex;
    height: 350px;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.title__card__doc {
    padding: 24px 0px 0px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: 0.1px;

    /* Text/Primary */

    color: #0E1412;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* .first__about__doc {
    padding: 15px 5px 15px 0px;
    width: 200px;
}

.second__about__doc {
    padding: 15px 16px 15px 0px;
    width: 200px;

}

.third__about__doc {
    padding: 15px 16px 15px 0px;
    width: 200px;

} */

.title__card__doc {
    padding: 15px 16px 15px 15px;
    width: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: 0.1px;

    /* Text/Primary */

    color: #0E1412;
}