.main__padding {
    padding-top: 1em;
    padding-left: 28px;
    padding-right: 28px;
}



.main__otstup {
    display: block;
    width: 100%;
    margin-top: 3.5em;
}



h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

h2 {
    font-family: 'Roboto';
    margin: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.main__padding__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 27px;
    display: flex;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.main__padding__row__columnLeft {
    margin-top: 16px;
    /* display: flex; */
    flex-direction: row;
    flex: 3;

    /* width: 954px; */
    /* width: 65%; */
    /* height: 510px; */
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    align-self: stretch;
}

.main__padding__row {
    /* border: #000000 1px solid; */
    display: flex;
    flex-flow: colunm;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.list__tech__container {
    margin-top: 27px;
    margin-left: 2em;
}

.main__padding__row__columnRight {
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}

.picture {
    /* position: relative;
    margin: 0 auto;
    top: 10%;
    width: 100%; */
    position: absolute;
    width: 560px;
    height: 360px;
    background-image: url('../assets/img/test.png');
    background-size: contain;
}

/* .first__about__doc {
    padding: 15px 5px 15px 0px;
    width: 200px;
}

.second__about__doc {
    padding: 15px 16px 15px 0px;
    width: 200px;

}

.third__about__doc {
    padding: 15px 16px 15px 0px;
    width: 200px;

} */

.title__card__doc {
    padding: 15px 16px 15px 15px;
    width: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: 0.1px;

    /* Text/Primary */

    color: #0E1412;
}